body {
    background-color: #fcfcfc;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: black;
}	

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #03a9f4 !important;
    background-color: #03a9f4 !important;
}

@media screen and (min-width: 993px) {
	header, main, footer {
	    padding-left: 300px;
	}

	.card img {
		height: 200px !important;
	}

	.container.container--large-fixed {
		width: 90% !important;
	}

	.brand-logo {
		margin-left: 20px;
	}

	.Filter .Filter-shop {
		text-align: right; 
	}
}

ul.side-nav.fixed li.logo:hover, ul.side-nav.fixed li.logo #logo-container:hover {
    background-color: transparent;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}

#nav-mobile li.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}

#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding-left: 15px;
    border: 0;
}

#nav-mobile li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#nav-mobile li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}

#nav-mobile li.search .search-wrapper input#search:focus {
    outline: none;
    box-shadow: none;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

.Logo img {
	padding-left: 6px;
	padding-top: 2px;
}

.pagination--center {
	text-align: center;
}

.Title {
	margin-top: 300px;
}

.Title ul {
	border: none;
}

.Title a {
    height: 35px !important;
    line-height: 33px !important;
}

@media screen and (min-width: 769px) {
	.Logo img {
		padding-top: 6px;
	}
}

.with-padding {
	padding:0 10px !important;
}

.Footer--one {
	padding-top: 0 !important;
	font-weight: bold;
}

.Footer--one a {
	margin-right: 10px;
}

.Filter {
	margin: 20px 10px 40px 10px;
}

.Icon--inline {
	vertical-align: middle;
}

.action-item {
	margin-right: 5px !important;
}

.action-item img {
    height: 23px !important;
}

.card--fixed {
	width: 295px !important;
	display: inline-block;
    margin: 10px 5px;
    text-align: left;
}

.card--fixed p {
	text-align: left;
}

.card--fixed .card-content {
	padding: 10px 22px;
}

.card--fixed .card-image {
	text-align:center;
}

.card--fixed .card-image img {
	display: inline-block;
	width: auto !important;
	max-width: 100%;
}

.row--center {
	text-align: center;
}

.side-nav a {
    height: 35px;
    line-height: 33px;
}

.td-fixed {
	width: 200px;
}

.tr-result {
	border: none !important;
}

.tr-result td:not(:first-child) {
	border-bottom: 1px solid #d0d0d0;
}

.hr-bottom {
	border-bottom: 1px solid rgb(255, 153, 0);
    padding-bottom: 15px;
}

.ul-cart {
	padding-left: 20px !important;
}

.ul-cart li {
	list-style-image: url('../img/card/orange.gif');
}

.colimg {
	position: relative;
}

.colimg img {
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: auto !important;
    max-height: 98%;
    width: 100%;
}

.table-cart td, .table-cart th {
	padding: 10px 5px;
}

.panel-cart {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 99%;
    padding: 10px 0;
}

.panel-cart img{
	height: 20px !important;
	width: 20px;
}

.cart-order {
	margin-right: 10px;
    font-weight: bold;
}

.row-eq-height{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.container{padding-right:15px;padding-left:15px}h4{margin-top:25px}.row{margin-bottom:20px}.row .row{margin-top:10px;margin-bottom:0}[class*="col-"]{padding-top:15px;padding-bottom:15px;background-color:#eee;background-color:rgba(86,61,124,.15);border:1px solid #ddd;border:1px solid rgba(86,61,124,.2)}.bs-callout{padding:20px;margin:20px 0;border-left:3px solid #eee}.bs-callout h4{margin-top:0;margin-bottom:5px}.bs-callout p:last-child{margin-bottom:0}.bs-callout code{background-color:#fff;border-radius:3px}.bs-callout-danger{background-color:#fdf7f7;border-color:#d9534f}.bs-callout-danger h4{color:#d9534f}.bs-callout-warning{background-color:#fcf8f2;border-color:#f0ad4e}.bs-callout-warning h4{color:#f0ad4e}.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}.bs-callout-info h4{color:#5bc0de}